<mat-drawer mode="side" opened>
    <div id="search" class="full-width">
        <div class="header full-width">
            <!-- <span class="full-width"><a>Bar name</a></span> -->
            <mat-form-field appearance="outline">
                <mat-label>Select a bar</mat-label>
                <mat-select [(ngModel)]="restaurant_id">
                    <mat-option *ngFor=" let bar of bares" [value]="bar.id" (click)="retrieveRestaurantValues()">{{ bar.name }}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div id="bar-statistics " class="full-width full-height flex-content">
        <h4 class="statistic-box total-tables ">Total tables: {{ total_tables }}</h4>
        <h4 class="statistic-box tables-available ">Total tables available: {{ tables_available }}</h4>
        <h4 class="statistic-box total-people ">Total people in the bar: {{ total_people }}</h4>
        <h4 class="statistic-box total-spaces ">Total spaces available: {{ spaces_available }}</h4>
    </div>
</mat-drawer>