* {
    width: 25%;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 60%;
}

#search {
    height: 20%;
}

.header {
    margin-top: 15%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header span {
    text-align: center;
}

.header a {
    width: 100%;
    color: #011627;
    text-decoration: none;
    margin: 0;
    font-size: 20pt;
    font-weight: 500;
}

#bar-statistics {
    height: 80%;
}

.flex-content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.statistic-box {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #ffffff;
    font-size: 16pt;
    width: 60%;
    border-radius: 8px;
    height: 15%;
    min-height: 10%;
}

.total-spaces,
.total-tables {
    background: #2EC4B6;
}

.tables-available {
    background: #E71D36;
}

.total-people {
    background: #FF9F1C;
}

mat-form-field.mat-form-field {
    width: 60%;
    font-size: 16pt;
}

mat-option {
    width: 100%;
}