* {
    margin: 0;
    padding: 0;
    width: 100%;
}

.flex-content {
    display: flex;
    flex-direction: row;
}

mat-drawer {
    width: 50%;
}

app-bar-reservations {
    position: absolute;
    right: 0;
    top: 0;
    width: 50%;
    height: 100%;
}